{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}

<div class="auth-page">
  <div class="auth-card">
    <h1>Reset Password</h1>
    <p class="subtitle">Please reset your password below.</p>

    <form method="POST">

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required placeholder="Enter a new password">
      </div>

      <button type="submit" class="submit-btn submit-btn-red">Create New Pasword</button>
    </form>

    <div class="auth-links">
      <span>Remember your password? <a href="{{ url_for('auth.login') }}">Sign in</a></span>
    </div>
  </div>
</div>
{% endblock %}
