{% extends "base.html" %}

{% block title %}Delete Songs{% endblock %}

{% block content %}
<h1>Delete Songs </h1>

{% if songs %}
    {% for song in songs %}
        <div style="margin-bottom:10px;">
            <b>{{ song.title }}</b> — {{ song.artist }}

            <form method="POST" action="{{ url_for('admin.delete_song', song_id=song.id) }}">
                <button type="submit">Delete</button>
            </form>
        </div>
    {% endfor %}
{% else %}
    <p>You have not added any songs yet.</p>
{% endif %}

{% endblock %}