<style>
    .large-input {
        width: 300px;
        height: 25px;
        font-size: 30px;
        padding: 5px;
    }

    .large-label {
        font-size: 30px;
        display: inline-block;
        width: 300px;
        text-align: center;
        margin-right: 5px;
    }

    .big-button {
        width: 200px;
        height: 50px;
        font-size: 15px;
        background-color: orange;
        color: black;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    
</style>

<div style="
    width: 1250px;
    height: 500px;
    background: lightblue;
    margin: auto;
    text-align: center;">

    <h1 style="text-align: center; color: black; font-size: 40px;">+Sign-in+</h1>
    <h2 style="text-align: center;">or</h2>
    <li style="list-style-type: none;">
        <h2 style="text-align: center; white-space: pre;">Create an Admin account: <a href="{{ url_for('admin.get') }}">Create Admin account</a>      Create an user account: <a href="{{ url_for('user.get') }}">Create User account</a></h2>
    </li>

    <form action="{{ url_for('auth.login') }}" method="POST" style="text-align: center;">

        <label for="username" class="large-label">Username:</label>
        <input type="text" id="username" name="username" class="large-input"><br><br>

        <label for="password" class="large-label">Password:</label>
        <input type="password" id="password" name="password" class="large-input"><br><br>

        <input type="submit" value="Sign In" class="big-button">
    </form>

    <p>&copy; 2026 Group Project. All rights reserved.</p>
</div>

<script src="app.js"></script>