{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}

<div class="auth-page">
  <div class="auth-card">
    <h1>Forgot My Password</h1>
    <p class="subtitle">Enter your Username to continue.</p>

    <form action="{{ url_for('auth.forgotPassword') }}" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required placeholder="Enter your username">
      </div>

      <button type="submit" class="submit-btn submit-btn-blue">Send Email</button>
    </form>

    <div class="auth-links">
      <span><a href="{{ url_for('auth.getLogin') }}">Go back to login</a></span>
    </div>
  </div>
</div>
{% endblock %}
